<title>3d Gantt Chart</title>
<script src="https://unpkg.com/flatpickr"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<script>
    $(document).ready(function() {

        function createTask(x1, x2, y, z, project) {
            var object = {
                x: [x1, x2],
                y: [y, y],
                z: [z, z],
                name: project,
                hoverinfo: 'none',
                mode: 'lines',
                line: {
                    width: 20,
                    color: 1,
                    colorscale: "Viridis"
                },
                type: 'scatter3d'
            };
            return object;
        }

        var data = [
            createTask('2016-01-19', '2016-01-24', "Analyst: John Smith", "Business analysis", "Development Project: Conception Stage"),
            createTask('2016-01-22', '2016-01-26', "Team Lead: Jack Strong", "Conception", "Development Project: Conception Stage"),
            createTask('2016-01-24', '2016-02-5', "Technical Lead: Michael Jackson", "Conception", "Development Project: Conception Stage"),
            createTask('2016-01-26', '2016-01-30', "Technical Lead: Michael Jackson", "Architecting Solution", "Development Project: Definition Stage"),
            createTask('2016-01-30', '2016-02-06', "Team Lead: Jack Strong", "Project Definition", "Development Project: Definition Stage"),
            createTask('2016-02-02', '2016-02-16', "Developer: Robert One", "Implementation", "Development Project: Development Stage"),
            createTask('2016-02-02', '2016-02-18', "Developer: James Two", "Implementation", "Development Project: Development Stage"),
            createTask('2016-02-02', '2016-02-16', "Developer: Filippe Three", "Implementation", "Development Project: Development Stage"),
            createTask('2016-02-10', '2016-02-27', "Tester: Jamie Jones", "Testing", "Development Project: Development Stage"),
            createTask('2016-02-14', '2016-02-27', "Tester: Norah Jones", "Testing", "Development Project: Development Stage"),
            createTask('2016-02-16', '2016-02-27', "Tester: Emma Jones", "Testing", "Development Project: Development Stage"),
            createTask('2016-02-27', '2016-03-03', "Team Lead: Jack Strong", "Verification", "Development Project: Development Stage"),
            createTask('2016-03-04', '2016-03-15', "Technical Lead: Michael Jackson", "Project Delivery", "Development Project: Implementation Stage"),
            createTask('2016-03-04', '2016-03-15', "Team Lead: Jack Strong", "Project Delivery", "Development Project: Implementation Stage"),
            createTask('2016-04-19', '2016-04-24', "Analyst: John Smith", "Business analysis", "Development Project II: Conception Stage"),
            createTask('2016-04-22', '2016-04-26', "Team Lead: Jack Strong", "Conception", "Development Project II: Conception Stage"),
            createTask('2016-04-24', '2016-05-5', "Technical Lead: Michael Jackson", "Conception", "Development Project II: Conception Stage"),
            createTask('2016-04-26', '2016-04-30', "Technical Lead: Michael Jackson", "Architecting Solution", "Development Project II: Definition Stage"),
            createTask('2016-04-30', '2016-05-06', "Team Lead: Jack Strong", "Project Definition", "Development Project II: Definition Stage"),
            createTask('2016-05-02', '2016-05-16', "Developer: Robert One", "Implementation", "Development Project II: Development Stage"),
            createTask('2016-05-02', '2016-05-18', "Developer: James Two", "Implementation", "Development Project II: Development Stage"),
            createTask('2016-05-02', '2016-05-16', "Developer: Filippe Three", "Implementation", "Development Project II: Development Stage"),
            createTask('2016-05-10', '2016-05-27', "Tester: Jamie Jones", "Testing", "Development Project II: Development Stage"),
            createTask('2016-05-14', '2016-05-27', "Tester: Norah Jones", "Testing", "Development Project II: Development Stage"),
            createTask('2016-05-16', '2016-05-27', "Tester: Emma Jones", "Testing", "Development Project II: Development Stage"),
            createTask('2016-05-27', '2016-06-03', "Team Lead: Jack Strong", "Verification", "Development Project II: Development Stage"),
            createTask('2016-06-04', '2016-06-15', "Technical Lead: Michael Jackson", "Project Delivery", "Development Project II: Implementation Stage"),
            createTask('2016-06-04', '2016-06-15', "Team Lead: Jack Strong", "Project Delivery", "Development Project II: Implementation Stage")
        ];

        var layout = {
            showlegend: false,
            scene: {
                aspectmode: "manual",
                aspectratio: {
                    x: 1,
                    y: 0.5,
                    z: 0.5,
                },
                xaxis: {
                    title: 'TIME',
                    tickwidth: 4
                },
                yaxis: {
                    title: 'RESOURCES',
                    tickwidth: 4
                },
                zaxis: {
                    title: 'TASKS',
                    tickwidth: 4
                }
            },
            font: {
                family: 'Roboto',
                size: 10,
                color: '#7f7f7f'
            },
            autosize: true,
            margin: {
                l: 0,
                r: 0,
                b: 0,
                t: 0,
                pad: 4
            }
        };

        const fp = flatpickr(".flatpickr", {
            enableTime: false
        });

        var myPlot = document.getElementById('graph');
        Plotly.newPlot('graph', data, layout, {
            displayModeBar: false
        });

        myPlot.on('plotly_click', function(data) {

            var infotext = data.points.map(function(d) {
                return [
                    d.data.name,
                    ('<p>Task: ' + d.z + '</p><p>Resource: ' + d.y + '</p><p>Start date: ' + d.data.x[0] + '</p><p>End date: ' + d.data.x[1])
                ];
            });

            $("#modal-hd").html(infotext[0][0]);
            $("#modal-txt").html(infotext[0][1]);
            $('#modal1').modal();
            $('#modal1').modal('open');
        });



        document.addEventListener("keydown", keyDownTextField, false);


        function keyDownTextField(e) {
            var keyCode = e.keyCode;
            if (keyCode == 107) {
                debugger;
                updateZoom(0.4);
            } else if (keyCode == 109) {
                updateZoom(-0.4);
            }
        }

        var updateZoom = function(zoom) {
            debugger;
            var currentY = myPlot._fullLayout.scene.camera.eye.y - zoom;
            if (currentY < 0) {
                currentY = 0;
            }
            var currentX = myPlot._fullLayout.scene.camera.eye.x - zoom;
            if (currentX < 0) {
                currentX = 0;
            }
            var currentZ = myPlot._fullLayout.scene.camera.eye.z - zoom;
            if (currentZ < 0) {
                currentZ = 0;
            }

            var upY = myPlot._fullLayout.scene.camera.up.y;
            var upX = myPlot._fullLayout.scene.camera.up.x;
            var upZ = myPlot._fullLayout.scene.camera.up.z;

            var centerY = myPlot._fullLayout.scene.camera.center.y;
            var centerX = myPlot._fullLayout.scene.camera.center.x;
            var centerZ = myPlot._fullLayout.scene.camera.center.z;

            var update = {
                showlegend: false,
                scene: {
                    camera: {
                        up: {
                            x: upX,
                            y: upY,
                            z: upZ
                        },
                        center: {
                            x: centerX,
                            y: centerY,
                            z: centerZ
                        },
                        eye: {
                            x: currentX,
                            y: currentY,
                            z: currentZ
                        }
                    },
                    aspectmode: "manual",
                    aspectratio: {
                        x: 1,
                        y: 0.5,
                        z: 0.5,
                    },
                    xaxis: {
                        title: 'TIME',
                        tickwidth: 4
                    },
                    yaxis: {
                        title: 'RESOURCES',
                        tickwidth: 4
                    },
                    zaxis: {
                        title: 'TASKS',
                        tickwidth: 4
                    }
                },
                font: {
                    family: 'Roboto',
                    size: 10,
                    color: '#7f7f7f'
                },
                autosize: true,
                margin: {
                    l: 0,
                    r: 0,
                    b: 0,
                    t: 0,
                    pad: 4
                }
            }
            Plotly.relayout('graph', update)
        }


        var btn = document.getElementById('showButton');
        btn.addEventListener("click", showNewPlotly);

        function showNewPlotly() {
            var startCalendar = flatpickr("#fromDate");
            var startDate = startCalendar.input.value;
            var endCalendar = flatpickr("#toDate");
            var endDate = endCalendar.input.value;
            var newData = new Array();

            for (i = 0; i < data.length; i++) {
                if (startDate < data[i].x[0] && endDate > data[i].x[1]) {
                    newData.push(data[i]);
                }
            }

            if (newData.length > 0) {

                var newPlot = document.getElementById('graph');
                Plotly.newPlot('graph', newData, layout, {
                    displayModeBar: false
                });

                newPlot.on('plotly_click', function(data) {
                    var infotext = data.points.map(function(d) {
                        return [
                            d.data.name,
                            ('<p>Task: ' + d.z + '</p><p>Resource: ' + d.y + '</p><p>Start date: ' + d.data.x[0] + '</p><p>End date: ' + d.data.x[1])
                        ];
                    });

                    $("#modal-hd").html(infotext[0][0]);
                    $("#modal-txt").html(infotext[0][1]);
                    $('#modal1').modal();
                    $('#modal1').modal('open');
                });
            } else {
                Materialize.toast('Dla wybranego przedziału czasowego nie ma żadnych zadań.', 4000)
            }
        }


    });
</script>